.add-form{
    .form-control{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        .label{
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .text-field{

        }
    }
    .reminder-check{
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
    }
    .save{
        width: 100%;
        background-color: black;
        border: transparent;
        color: white;
        font-weight: bold;
        padding: 0.5rem 0;
        margin-bottom: 1rem;
        cursor: pointer;

        &:active{
            transform: scale(0.99);
        }
    }

}